@font-face {
  font-family: moreAloof;
  src: url(data/MoreAloofTypeface.otf);
}

@font-face {
  font-family: helveticaExt;
  src: url(data/HelveticaNeue-LightExt.otf);
}

@font-face {
  font-family: helveticaExtIt;
  src: url(data/HelveticaNeue-LightExtObl.otf);
}

* {
  margin: 0;
  padding: 0;
  cursor: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  width: 100%;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video-bg {
  position: absolute;
  opacity: 70%;
  right: 0;
  bottom: 0;
  min-height: 100vh;
}

#cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background: #fff;
  pointer-events: none;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  -webkit-transform-origin: 80% 80%;
          transform-origin: 80% 80%;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-animation: borderAnim 4s linear infinite;
          animation: borderAnim 4s linear infinite;
  -webkit-animation-name: none;
          animation-name: none;
  z-index: 999;
}

.content {
  width: 100%;
}

section {
  height: 100vh;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  will-change: transform;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  mix-blend-mode: difference;
}

.title-section {
  position: relative;
  max-width: 1200px;
  min-width: 500px;
  padding-top: 100px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.title-div {
  color: transparent;
  text-shadow: 0 0 3px #fff;
  -webkit-transition: .6s ease;
  transition: .6s ease;
}

.title-div:hover {
  color: #fff;
  text-shadow: 0 0 12px #d4faff;
}

.title {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

h1 {
  font-family: moreAloof;
  font-size: 4rem;
  font-weight: normal;
  text-transform: uppercase;
}

.subtitle {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: helveticaExt;
  font-size: 1.4rem;
  padding: 20px;
}

.button {
  margin: 30px;
  font-family: helveticaExt;
  font-size: 1.3rem;
  cursor: none;
  text-align: center;
  color: transparent;
  text-shadow: 0 0 3px #fff;
  -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.521);
          box-shadow: 0 0 5px rgba(255, 255, 255, 0.521);
  -webkit-transition: .6s ease;
  transition: .6s ease;
  border-radius: 25px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.button a {
  text-decoration: none;
  list-style: none;
  color: transparent;
  text-transform: uppercase;
  padding-left: 40px;
  padding-right: 40px;
}

.button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 0 0 #fff;
          box-shadow: 0 0 0 #fff;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
  background-color: white;
}

.symbol {
  position: static;
  width: 220px;
  margin-bottom: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.symbol:hover {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-filter: blur(0);
          filter: blur(0);
}

@-webkit-keyframes borderAnim {
  0%,
  100% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
  25%,
  75% {
    border-radius: 64% 36% 72% 28% / 35% 60% 40% 65%;
  }
  50% {
    border-radius: 46% 54% 38% 62% / 66% 38% 62% 34%;
  }
}

@keyframes borderAnim {
  0%,
  100% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
  25%,
  75% {
    border-radius: 64% 36% 72% 28% / 35% 60% 40% 65%;
  }
  50% {
    border-radius: 46% 54% 38% 62% / 66% 38% 62% 34%;
  }
}
/*# sourceMappingURL=style.css.map */