@font-face {
    font-family: moreAloof;
    src: url(data/MoreAloofTypeface.otf);
}

@font-face {
    font-family: helveticaExt;
    src: url(data/HelveticaNeue-LightExt.otf);
}

@font-face {
    font-family: helveticaExtIt;
    src: url(data/HelveticaNeue-LightExtObl.otf);
}

* {
    margin: 0;
    padding: 0;
    cursor: none;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100%;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

// bg //
.video-bg {
    position: absolute;
    opacity: 70%;
    right: 0;
    bottom: 0;
    min-height: 100vh;
}

// cursor //

#cursor {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background: #fff;
    pointer-events: none;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    transform-origin: 80% 80%;
    transition: transform 0.5s ease-in-out;
    animation: borderAnim 4s linear infinite;
    animation-name: none;
    z-index: 999;
}

.content {
    width: 100%;
}

// glandim page //
section {
    height: 100vh;
    transition: transform 0.25s;
    will-change: transform;
    display: flex;
    flex-direction: column;
    align-items: center;
    mix-blend-mode: difference;
}

.title-section {
    position: relative;
    max-width: 1200px;
    min-width: 500px;
    padding-top: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title-div {
    color: transparent;
    text-shadow: 0 0 3px #fff;
    transition: .6s ease;
}

.title-div:hover {
    color: #fff;
    text-shadow: 0 0 12px rgb(212, 250, 255);
}

.title {
    width: 100%;
    justify-content: center;
    padding: 10px;
}

h1{
    font-family: moreAloof;
    font-size: 4rem;
    font-weight: normal;
    text-transform: uppercase;
}

.subtitle {
    width: 100%;
    justify-content: center;
    font-family: helveticaExt;
    font-size: 1.4rem;
    padding: 20px;
}

.button {
    margin: 30px;
    font-family: helveticaExt;
    font-size: 1.3rem;
    cursor: none;
    text-align: center;
    color: transparent;
    text-shadow: 0 0 3px #fff;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.521);
    transition: .6s ease;
    border-radius: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.button a {
    text-decoration: none;
    list-style: none;
    color: transparent;
    text-transform: uppercase;
    padding-left: 40px;
    padding-right: 40px;
}

.button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 0 #fff;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
    background-color: white;
}

.symbol {
    position: static;
    width: 220px;
    margin-bottom: 50px;
    align-items: center;
    filter: blur(1px);
}

.symbol:hover{
    transition: 1s;
    filter: blur(0);
}

@keyframes borderAnim {

    0%,
    100% {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }

    25%,
    75% {
        border-radius: 64% 36% 72% 28% / 35% 60% 40% 65%;
    }

    50% {
        border-radius: 46% 54% 38% 62% / 66% 38% 62% 34%;
    }
}

// media query //

@media only screen and (max-width: 1500px) {

}