@font-face {
    font-family: moreAloof;
    src: url(data/MoreAloofTypeface.otf);
}

@font-face {
    font-family: moreAloofAlt;
    src: url(data/MoreAloofTypeface2.ttf);
}

@font-face {
    font-family: helveticaExtThin;
    src: url(data/HelveticaNeue-ThinExt.otf);
}

@font-face {
    font-family: helveticaExt;
    src: url(data/HelveticaNeue-LightExt.otf);
}

@font-face {
    font-family: helveticaExtIt;
    src: url(data/HelveticaNeue-LightExtObl.otf);
}

* {
    margin: 0;
    padding: 0;
    cursor: none;
    box-sizing: border-box;
}

body {
    position: relative;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section{
    transition: transform 0.25s;
    will-change: transform;
    mix-blend-mode: difference;
}

a {
    text-decoration: none;
    list-style: none;
    color: transparent;
}

#cursor {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background: #fff;
    pointer-events: none;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    transform-origin: 80% 80%;
    transition: transform 0.5s ease-in-out;
    animation: borderAnim 4s linear infinite;
    animation-name: none;
    z-index: 999;
}

.content {
    max-width: 1200px;
}

.fiction{
    margin: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
}

// title containers

.title{
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
}

.act{
    font-family: moreAloofAlt;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 10px;
}

.defocus{
    width: fit-content;
    padding-bottom: 20px;
}

.defocus a{
    font-family: moreAloofAlt;
    font-size: 2.6rem;
    text-transform: uppercase;
    color: transparent;
    text-shadow: 0 0 4px #fff;
    transition: .6s ease;
    padding-bottom: 20px;
}

.defocus:hover a{
    color: #fff;
    text-shadow: 0 0 1px rgb(255, 255, 255);
}

.inversion{
    width: fit-content;
    font-family: moreAloofAlt;
    font-size: 2.6rem;
    text-align: right;
    text-transform: uppercase;
    text-shadow: 0 0 0px rgb(255, 255, 255);
    transform: scale(-1, 1);
    transition: .6s ease;
    padding-bottom: 20px;
}

.inversion:hover{
    text-shadow: 0 0 0px rgb(255, 255, 255);
    transform: scale(1, 1);
}

.magnification{
    width: fit-content;
    padding-bottom: 20px;
}

.magnification a{
    font-family: moreAloofAlt;
    font-size: 2.6rem; 
    text-transform: uppercase;
    color: #000;
    text-shadow: 0 0 8px #fff;
    transition: .6s ease;
}

.magnification:hover a {
    color: #fff;
    text-shadow: 0 0 8px rgb(255, 255, 255);
}

.description{
    width: 60%;
    font-family: helveticaExtThin;
    color: #fff;
    font-size: 0.8rem;
    letter-spacing: 1px;
    line-height: 1.6;
}

// content containers

.container-defocus{
    padding-top: 7vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(9, auto);
    gap: 20px;
}

.container-inversion{
    padding-top: 7vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
}

.container-magnification{
    padding-top: 7vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(9, auto);
    gap: 20px;
}

// text types

.text-regular{
    font-family: helveticaExt;
    font-size: 1rem;
    color: #fff;
    transition: .6s ease;
    letter-spacing: 1px;
}

.text-regular:hover{
    text-shadow: 0 0 10px rgb(255, 255, 255);
}


.text-regularblack{
    font-family: helveticaExt;
    font-size: 1rem;
    color: #000;
    transition: .6s ease;
    letter-spacing: 1px;
}

.text-regularblack:hover{
    color: transparent;
    text-shadow: 0 0 10px rgb(255, 255, 255);
}

.text-blur1{
    font-family: helveticaExt;
    font-size: 1rem;
    color: transparent;
    text-shadow: 0 0 8px #fff;
    transition: .6s ease;
    letter-spacing: 1px;
}

.text-blur1:hover{
    color: #fff;
    text-shadow: 0 0 0px rgb(255, 255, 255);
}

.text-blur2{
    font-family: helveticaExt;
    font-size: 1rem;
    color: transparent;
    text-shadow: 0 0 4px #fff;
    transition: .6s ease;
    letter-spacing: 1px;
}

.text-blur2:hover{
    color: #fff;
    text-shadow: 0 0 0px rgb(255, 255, 255);
}

.text-blur3{
    font-family: helveticaExt;
    font-size: 1rem;
    color: transparent;
    text-shadow: 0 0 2px #fff;
    transition: .6s ease;
    letter-spacing: 1px;
}

.text-blur3:hover{
    color: #fff;
    text-shadow: 0 0 0px rgb(255, 255, 255);
}


.text-blackblur{
    font-family: helveticaExt;
    font-size: 1rem;
    color: #000;
    text-shadow: 0 0 6px #fff;
    transition: .6s ease;
    letter-spacing: 1px;
}

.text-blackblur:hover{
    color: #fff;
    text-shadow: 0 0 4px rgb(255, 255, 255);
}

.text-inverted{
    width: fit-content;
    font-family: helveticaExt;
    font-size: 1rem;
    color: #fff;
    transform: scale(-1, 1);
    transition: .6s ease;
    letter-spacing: 1px;
}

.text-inverted:hover{
    transform: scale(1, 1);
}

// text and svgs placements

svg{
    width:auto;
}

// unfocus svg and text

.svg1-1{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1/2;
    grid-row: 1/2;
}

.divtext1-1{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1/2;
    grid-row: 2/3;
    margin-bottom: 15vh;
}

.text1-1{
    padding: 10px;
    border: 2px dotted rgba(255, 255, 255, 0.699);
    text-align: center;
}

.svg1-2{
    display: flex;
    align-items: center;
    grid-column: 2/4;
    grid-row: 2/3;
}

.divtext1-2{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 3/4;
    grid-row: 3/4;
    margin-bottom: 15vh;
}

.text1-2{
    padding: 10px;
    border: 2px dotted rgba(255, 255, 255, 0.699);
    text-align: center;
}

.svg1-3{
    display: flex;
    align-items: center;
    justify-content: right;
    grid-column: 2/3;
    grid-row: 3/4;
}

.divtext1-3{    
    grid-column: 2/3;
    grid-row: 4/5;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.text1-3{    
    padding: 20px;
    border: 2px solid rgba(255, 255, 255, 0.699);
    border-radius: 100%;
    text-align: center;
}

.svg1-4{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2/4;
    grid-row: 5/6;
}

.divtext1-4{
    grid-column: 4/5;
    grid-row: 5/6;
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 15vh;
}

.text1-4{    
    padding: 10px;
    border: 1px solid #fff;
    text-align: center;
}

.svg1-5{
    display: flex;
    align-items: center;
    grid-column: 4/5;
    grid-row: 6/7;
}

.divtext1-5{    
    grid-column: 2/4;
    grid-row: 6/7;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.text1-5{    
    width: fit-content;
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, 0.699);
    border-radius: 50px;
}

.divtext1-6{    
    grid-column: 1/4;
    grid-row: 7/8;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.text1-6{
    padding: 10px;
    width: 60%;
}

.divtext1-7{
    grid-column: 2/4;
    grid-row: 8/9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text1-7{
    width: fit-content;
    padding: 10px;
    border: 2px dashed rgba(255, 255, 255, 0.699);
}

.svg1-8{
    display: flex;
    align-items:flex-end;
    justify-content: center;
    grid-column: 4/5;
    grid-row: 8/9;
}

.divtext1-8{    
    grid-column: 4/5;
    grid-row: 9/10;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.text1-8{    
    padding: 10px;
}

// inversion svg and text

.svg2-1{
    grid-column: 3/5;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.divtext2-1{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1/3;
    grid-row: 1/2;
    margin-bottom: 10vh;
}

.text2-1{
    padding: 20px;
    width: fit-content;
    border: 2px solid rgba(255, 255, 255, 0.699);
}

.svg2-2{
    grid-column: 2/4;
    grid-row: 2/3;
    display: flex;
    align-items: center;
    justify-content: right; 
}

.divtext2-2{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 4/5;
    grid-row: 2/3;
    margin-bottom: 15vh;
}

.text2-2{

    padding: 60px 40px 60px 40px;
    width: fit-content;
    border: 2px dashed rgba(255, 255, 255, 0.699);
    border-radius: 100%;
}

.divtext2-3{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2/4;
    grid-row: 3/4;
}

.text2-3{
    padding: 10px;
    width: fit-content;
}

// magnification svg and text

.svg3-1{
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.divtext3-1{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-bottom: 10vh;
}

.text3-1{
    padding: 10px;
}

.svg3-2{
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.divtext3-2{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2/3;
    grid-row: 2/3;
}

.text3-2{
    padding: 10px;
}

.text3-3{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 3/5;
    grid-row: 3/4;
    padding: 10px;

}

.text3-4{
    grid-column: 3/5;
    grid-row: 4/5;
    padding: 10px;
}

.svg3-5{
    grid-column: 3/4;
    grid-row: 5/6;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
}

.divtext3-5{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1/3;
    grid-row: 5/6;
}

.text3-5{
    padding: 10px;
    width: 70%;
}

.svg3-6{
    display: flex;
    justify-content: center;
    grid-column: 2/4;
    grid-row: 6/7;
}

.divtext3-6{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 4/5;
    grid-row: 6/7;
}

.text3-6{
    padding: 100px 40px 100px 40px;
    width: fit-content;
    border: 2px dotted rgba(255, 255, 255, 0.699);
    border-radius: 100%;
}

.svg3-7{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 3/5;
    grid-row: 7/8;
}

.text3-7{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2/4;
    grid-row: 7/8;
    padding: 10px;
}

.text3-8{
    grid-column: 2/4;
    grid-row: 8/9;
    padding: 10px;
    margin-bottom: 30vh;
}

.svg3-9{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2/3;
    grid-row: 8/10;
    margin-top: 10vh;
}

.divtext3-9{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    grid-column: 3/4;
    grid-row: 9/10;
    margin-bottom: -10v;
}

.text3-9{
    padding: 20px;
    margin-bottom: 10vh;
    width: fit-content;
    height: fit-content;
    border: 2px solid rgba(255, 255, 255, 0.699);
    border-radius: 20px;
}

@keyframes borderAnim {

    0%,
    100% {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }

    25%,
    75% {
        border-radius: 64% 36% 72% 28% / 35% 60% 40% 65%;
    }

    50% {
        border-radius: 46% 54% 38% 62% / 66% 38% 62% 34%;
    }
}