@font-face {
    font-family: moreAloof;
    src: url(data/MoreAloofTypeface.otf);
}

@font-face {
    font-family: helveticaExt;
    src: url(data/HelveticaNeue-LightExt.otf);
}

@font-face {
    font-family: helveticaExtIt;
    src: url(data/HelveticaNeue-LightExtObl.otf);
}

* {
    margin: 0;
    padding: 0;
    cursor: none;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100%;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

// bg //
.video-bg {
    position: absolute;
    right: 0;
    bottom: 0;
    min-height: 100%;
    min-width: 100%;
}

// cursor //

#cursor {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background: #fff;
    pointer-events: none;
    transform: translate(-50%, -50%);
    mix-blend-mode: soft-light;
    transform-origin: 80% 80%;
    transition: transform 0.5s ease-in-out;
    animation: borderAnim 4s linear infinite;
    animation-name: none;
    z-index: 999;
}

.content {
    width: 100%;
}

section {
    transition: transform 0.25s;
    will-change: transform;
    display: flex;
    flex-direction: column;
    align-items: center;
}

// glandim page //
.title-section {
    position: relative;
    max-width: 1200px;
    min-width: 500px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title-div {
    color: transparent;
    text-shadow: 0 0 8px #fff;
    transition: .6s ease;
}

.title-div:hover {
    color: #fff;
    text-shadow: 0 0 12px rgb(212, 250, 255);
}

.title {
    width: 100%;
    justify-content: center;
    padding: 10px;
}

h1{
    font-family: moreAloof;
    font-size: 4rem;
    font-weight: normal;
    text-transform: uppercase;
}

.subtitle {
    width: 100%;
    justify-content: center;
    font-family: helveticaExt;
    font-size: 1.4rem;
    padding: 20px;
}

// menu //
.menu {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.button {
    margin: 30px;
    font-family: helveticaExt;
    font-size: 1.3rem;
    cursor: none;
    text-align: center;
    color: transparent;
    text-shadow: 0 0 6px #fff;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.521);
    transition: .6s ease;
    border-radius: 25px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.button a {
    text-decoration: none;
    list-style: none;
    color: transparent;
}

.button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 0 #fff;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
    ;
    background-color: white;
}

// about //
.about-section {
    width: 100%;
    min-height: 100vh;
    margin: 100px, auto;
    position: relative;
    display: flex;
}

.video-div {
    width: 50vh;
    height: 100vh;
    flex: 1;
    filter: blur(10px);
    transition: 1s;
    overflow: hidden;
}

.video-div:hover {
    flex: 2;
    filter: blur(0);
}

.actual-video{
    height: 100%;
}

.watchtrailer {
    width: 20%;
    z-index: 1;
    position: absolute;
    margin-bottom: 10vh;
    margin-top: 85vh;
}

.watchtrailer-button {
    font-family: helveticaExt;
    font-size: 1.3rem;
    cursor: none;
    text-align: center;
    color: transparent;
    text-shadow: 0 0 6px #fff;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.521);
    transition: .6s ease;
    border-radius: 25px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 30px;
}

.watchtrailer-button a {
    text-decoration: none;
    list-style: none;
    color: transparent;
}

.watchtrailer-button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 0 #fff;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
    ;
    background-color: white;
}


.about-div {
    width: 50%;
    height: 100%;
    flex: 1;
    transition: 1s;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.manual-button-div {
    width: 42%;
}

.mote {
    font-family: moreAloof;
    font-size: 2rem;
    padding: 30px;
    color: transparent;
    text-shadow: 0 0 6px #fff;
    transition: .6s ease;
}

.mote:hover {
    text-shadow: 0 0 0 #fff;
}

.about-text {
    max-width: 700px;
    font-family: helveticaExt;
    font-size: 1.1rem;
    line-height: 1.4;
    color: #fff;
    padding: 30px;
    color: transparent;
    text-shadow: 0 0 10px #fff;
    transition: .6s ease;
}

.about-text:hover {
    text-shadow: 0 0 0 #fff;
}

.credits {
    font-family: helveticaExtIt;
    font-size: 0.8rem;
    margin-top: 10px;
    padding-left: 30px;
    width: 50%;
    color: transparent;
    text-shadow: 0 0 10px #fff;
    transition: .6s ease;
}

.credits:hover {
    text-shadow: 0 0 0 #fff;
}

@keyframes borderAnim {

    0%,
    100% {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }

    25%,
    75% {
        border-radius: 64% 36% 72% 28% / 35% 60% 40% 65%;
    }

    50% {
        border-radius: 46% 54% 38% 62% / 66% 38% 62% 34%;
    }
}

// media query //

@media only screen and (max-width: 1500px) {

    .video-div {
        height: 100vh;
        width: 40vw;
    }
    
    .video-div:hover {
        flex: 1.4;
        height: 100%;
    }
    
    .actual-video{
        height: 100%;
    }
    
    .watchtrailer {
        margin-bottom: 10vh;
        margin-top: 85vh;
    }
    
    .watchtrailer-button {
        font-size: 1.3rem;
    }
    
    .manual-button-div {
        width: 30vh;
    }
    
    .mote {
        font-size: 1.6rem;
    }
    
    .mote:hover {
        text-shadow: 0 0 0 #fff;
    }
    
    .about-text {
        font-size: 1rem;
    }
    
    .credits {
        font-size: 0.6rem;
    }
  
}