@font-face {
    font-family: moreAloof;
    src: url(data/MoreAloofTypeface.otf);
}

@font-face {
    font-family: moreAloofAlt;
    src: url(data/MoreAloofTypeface2.ttf);
}

@font-face {
    font-family: helveticaExtThin;
    src: url(data/HelveticaNeue-ThinExt.otf);
}

@font-face {
    font-family: helveticaExt;
    src: url(data/HelveticaNeue-LightExt.otf);
}

@font-face {
    font-family: helveticaExtIt;
    src: url(data/HelveticaNeue-LightExtObl.otf);
}

* {
    margin: 0;
    padding: 0;
    cursor: none;
    box-sizing: border-box;
}

body {
    position: relative;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section{
    transition: transform 0.25s;
    will-change: transform;
    mix-blend-mode: difference;
}

#cursor {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background: #fff;
    pointer-events: none;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    transform-origin: 80% 80%;
    transition: transform 0.5s ease-in-out;
    animation: borderAnim 4s linear infinite;
    animation-name: none;
    z-index: 999;
}

// menu //

.menu-trigger {
    position: fixed;
    top: 15px;
    left: 10px;
    width: 50px;
    cursor: none;
    z-index: 10;
    mix-blend-mode: difference;
  }
  .menu-trigger:hover > .menu {
    transform: translateX(20px);
  }
  .menu-trigger > a {
    transition: all 0.4s ease;
    position: absolute;
    z-index: 10;
  }
  
.menu {
    position: absolute;
    top: 0;
    left: 10;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(calc(-100% + 51px));
    transition: all 0.8s ease;
    padding-top: 10vh;
    will-change: transform;
  }

.menu > ul > li {
    color: #f9f9ed;
    font-size: 20px;
    font-family: helveticaExt;
    cursor: none;
    padding: 60px 0px 0px 180px;
    width: 200px;
    overflow: hidden;
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
  }

li > a{
    color: #fff;
    text-decoration: none;
    list-style: none;
}

li > a:hover{
    opacity: 30%;
    transition: all 0.8s ease;
}

// header //

.lines-top {
    width: 90%;
    height: 75px;
    position: relative;
}

.lines-top::after, .lines-top::before {
    content: '';
    position: absolute;
    margin: auto;
    height: 2px;
    background: #fff;
    width: 40%;
    top: 55%;
}

.lines-top::after {
    left: 2vw;
}

.lines-top::before {
    right: 2vw;
}

.corner-top-right {
    position: fixed;
    top: 25px;
    right: 20px;
    mix-blend-mode: difference;
}

.button {
    position: absolute;
    cursor: none;
    text-shadow: 0 0 0px #fff;
    transition: .6s ease;
}

.button, a {
    text-decoration: none;
    list-style: none;
    color: transparent;
}

.button:hover {
    transform: scale(1.3);
    filter: drop-shadow(0px 0px 5px #fff);
}

// content //

.content {
    width: 70vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.insights {
    width: 100%;
}

.title {
    margin-top: 10vh;
    font-family: moreAloof;
    font-size: 3rem;
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 20px;
}

.desc-text {
    max-width: 600px;
    font-family: helveticaExt;
    color: #fff;
    font-size: 0.9rem;
    letter-spacing: 1px;
    line-height: 1.6;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bnt-img {
    width: 55%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.bg-bnt {
    width: fit-content;
    margin-top: 10vh;
    font-family: moreAloofAlt;
    font-size: 1.6rem;
    padding: 25px;
    border: 2px dashed rgba(255, 255, 255, 0.699);
    border-radius: 50%;
    text-transform: uppercase;
    color: #fff;
}

.img-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

// .img-insights1 {
//     width: 100%;
//     min-height: 40vh;
//     background-image: url(data/img_insights1.jpg);
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: center;
//     margin: 20px 0;
// }

.img-insights {
    width: 100%;
    min-height: 20vh;
    margin: 20px 0;

    img{
        width: 100%;
        height: auto;
        padding-bottom: 20px;
    }
}


.desc-text2 {
    margin-top: 10vh;
    max-width: 500px;
    font-family: helveticaExt;
    color: #fff;
    font-size: 0.9rem;
    letter-spacing: 1px;
    line-height: 1.6;
    padding-left: 30px;
}

.desc-text3 {
    margin-top: 20px;
    max-width: 450px;
    width: 40%;
    font-family: helveticaExt;
    color: #fff;
    font-size: 0.9rem;
    letter-spacing: 1px;
    line-height: 1.6;
}

.img-insights4 {
    width: 100%;
    min-height: 40vh;
    background-image: url(data/img_insights4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 20px 0;
}

.img-insights5 {
    width: 100%;
    min-height: 40vh;
    background-image: url(data/img_insights5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 20px 0;
}

// footer //

.lines-bottom {
    width: 90%;
    height: 70px;
    position: relative;
}

.lines-bottom::after, .lines-bottom::before {
    content: '';
    position: absolute;
    margin: auto;
    height: 2px;
    background: #fff;
    width: 40%;
    bottom: 60%;
}

.lines-bottom::after {
    left: 2vw;
}

.lines-bottom::before {
    right: 2vw;
}

.corner-bottom-right {
    position: fixed;
    bottom: 20px;
    right: 20px;
    mix-blend-mode: difference;
}

.corner-bottom-left {
    position: fixed;
    bottom: 20px;
    left: 20px;
    mix-blend-mode: difference;
}

.button-bottom {
    position: absolute;
    bottom: 0;
    cursor: none;
    text-shadow: 0 0 0px #fff;
    transition: .6s ease;
}

.button-bottom, a {
    text-decoration: none;
    list-style: none;
    color: transparent;
}

.button-bottom:hover {
    transform: scale(1.3);
    filter: drop-shadow(0px 0px 5px #fff);
}
